apiVersion: v1
kind: Service
metadata:
  name: zoo
  namespace: kubeless
spec:
  ports:
  - port: 2888
    name: peer
  - port: 3888
    name: leader-election
  clusterIP: None
  selector:
    kubeless: zookeeper
